In [13]:
import plotly.io as pio
pio.renderers.default = 'browser'

In [15]:
import pandas as pd
import plotly.express as px

df_car = pd.read_csv('vehicles_us.csv')

df_car.info()
print()

print(df_car.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

In [17]:
df_car['model_year'] = df_car['model_year'].astype('Int64')
df_car['cylinders'] = df_car['cylinders'].astype('Int64')
df_car['date_posted'] = pd.to_datetime(df_car['date_posted'])
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  Int64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  Int64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: Int64(2), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 5.2+ MB

In [ ]:
fig = px.histogram(df_car,
                   x='price', 
                   title= 'Distribucion de precios'
                   )
fig.update_xaxes(range=[0, 60000])
fig.show()

In [40]:
fig = px.bar(df_car,
       x='model_year',
       y='price',
       title='Precio vs año del modelo')
fig.update_xaxes(range=[1990, 2020])
fig.show()

In [35]:
fig = px.scatter(df_car,
                 x='odometer',
                 y='price',
                 title='Relación kilometraje vs precio')
fig.update_xaxes(range=[0, 350000])
fig.update_yaxes(range=[0, 100000])
fig.show()

In [41]:
fig= px.bar(df_car,
            x='condition',
            y='price',
            title='Precio vs condición')
fig.show()